.navegacion{
    display: flex;
    flex-direction: column; 
    align-content: space-around;
    background-color: #E0FFF1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.navbar-brand{
    padding-right: 200px; 
}
.producto_burbujas{
    color: #8DB6AC;
    font-family: Merienda;
    width: 100%;
    height: 100%px;
    left: 2855px;
    top: 2443px;
    background-image: url(../imagenes/Overlay2-burbujas.png);   
}
h1.producto_titulo1 {
    font-size: 80px;
}
h3.producto_titulo2 {
    font-size: 40px;
    margin-left: 80px;
}
.producto_back{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #93FFD8 -3.33%, rgba(255, 255, 255, 0) 77.81%);
    
}
.producto_bandaceleste{  
    position: absolute;  
    width: 100%;
    height: 250px;  
    margin-top: 100px;
    background: #E1FFFF;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.15); 
}
.producto_img{
    width: 700px;
    height: 600px;
    transform: translateY(-28%);
    
        
}
